{% extends 'upload/base.html' %}

{% load static %}

{% block title %}Progress Bar Upload{% endblock %}

{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'vendor/jquery/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.fileupload.js' %}"></script>

  {# PHOTOS PAGE SCRIPTS #}
  <script src="{% static 'js/progress-bar-upload.js' %}"></script>
{% endblock %}

{% block files_content %}
  <div class="raw" style="margin-bottom: 20px;">
      <div class="float-right">
        <button type="button" class="btn btn-primary js-upload-photos">
          Upload files
        </button>
        <input id="fileupload" type="file" name="file" multiple
               style="display: none;"
               data-url="{% url 'filestorage:progress_bar_upload' %}"
               data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
      </div>
      <form method="post" action="{% url 'filestorage:clear_database' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="btn btn-danger">
          Clear Database
        </button>
      </form>
  </div>

  <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
        <th>File</th>
      </tr>
    </thead>
    <tbody>
      {% for photo in photos %}
        <tr>
          <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-progress">
  Test Button
</button>
-->
  <div class="modal" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Uploading...</h4>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
