html {
  position: relative;
  min-height: 100%;
}
body {
  /* Padding top by menu height */
  padding-top: 56px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #343a40;
}

footer .container p {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.table>thead>tr {
  border-top: hidden;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}

.scroll {
    max-height: 400px;
    overflow-y: auto;
}

.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
}

.myDropDown
{
   height: 400px;
   overflow: auto;
}



